/* Import a font to our project */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700&display=swap');

/* 
    Set a variable as our primary color
*/
:root {
    --primary-color: #62B4F2;
}

html {
  scroll-behavior: smooth;
  
}


body {
    font-family: 'Poppins';
    text-align: justify;
    

}


a {
  text-decoration: none;
}

@keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}


@keyframes slideInDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}



.header {
    animation: 1s ease-out 0s 1 slideInLeft;

    

    
    height: 100%;
    position: relative;
    /* background-image: url("../Front-img/header5.jpg"); */
    background-image:  linear-gradient(to left, rgba(1, 240, 25, 0.271), rgba(97, 20, 78, 0.499), #004ab808),
    url('../Front-img/header5.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: -2em;


    transition: 4s ea;
    /* filter: sepia(100%) hue-rotate(190deg) saturate(500%); */    
}



.headerContent {
  position: absolute;
  color: white;
  text-align: center;
  right: 1.7em;
  top: 5em;
  font-size: 30px;
  animation: 1s ease-out 0s 1 slideInRight;
}

.headerContent button {
  animation: 1s ease-out 0s 1 slideInRight;
  min-width: 22em;
  min-height: 4em;
  border-radius: 3em;
  font-size: 18px;
  font-weight: 800;
  margin-top: 1em;
  transition: background-color 0.5s ease-in-out;
  border: 0;
  background: aquamarine;
}


.headerContent button:hover {
  background: -webkit-linear-gradient(rgb(9, 77, 193), rgba(13, 180, 4, 0.411), rgba(184, 26, 97, 0.444));
}

.menu-div {
    position: fixed;
    right: 1.2em;
    top: 1.2em;
    float: right;
    background-color: white;

    min-width: 4em;
    min-height: 4em;
    border-radius: 3em;

    z-index: 1000;
    background-color: aquamarine;
    transition: background-color 0.5s ease-in-out;
    
}


.menu-div:hover {
  background-color: rgb(27, 101, 76);
}
.mobile-menu {
    text-align: right;
    min-width: 1.5em;
    margin-left: 1.25em;
    margin-top: 1.5em;
    
}



.navMenu {
  
  display: none;
  position: fixed;
  right: 1em;
  top: 1em;
  background-color: #62B4F2;
  /* min-width: 98%; */
  text-align: center;
  /* transition:  1s ease-in-out; */
  border-radius: 0.5em;
  z-index: 999;
}

.navMenu:target {
  animation: 1s ease-out 0s 1 slideInDown;
  display: block;
  width: 98%;
  z-index: 1001;
  
}


.navMenu li{
  margin-bottom: 2em;
  
}




#mobile-exit {
  margin-top: 1.3em;
}

.lectures {

    height: 60%;
    position: relative;
    background: var(--primary-color);
    /* background-size: cover; */
    background-image:  linear-gradient(to left, rgba(1, 240, 25, 0.868), rgba(97, 20, 78, 0.73), #0049B8),
    url('../Front-img/lectures-main.jpg');
    /* linear-gradient(to left, rgba(1, 240, 25, 0.345), rgba(97, 20, 78, 0.73), rgba(10,40,100,0.73)), */
    /* display: -ms-inline-grid; */
    background-size:100%;
    font-weight: 1000;
    
    
    

}


.lec1 {

    animation: 1s ease-out 0s 1 slideInLeft;

    height: 80%;
    opacity: 80%;
    width: calc(92%/4);
    margin: 1%;
    margin-top: 3%;
    position: relative;
    background: rgb(255, 255, 255);
    float: left;
    border-radius: 2em;
    transition: 0.4s ease-in-out;
    /* display: none; */

}


.lec1 p{
  max-width: 20em;
  margin-left: 1em;
  text-align: center;

}
.lec1:hover {
    opacity: 95%;
    width: 22%;
    margin: 0.7em;
    margin-top: 2%;
}


.css_icon {
    width: 25%;
    margin-left: 10%;
    margin-top: -7%;
    position: relative;
}

.js_icon {
    width: 43%;
    margin-left: 2%;
    margin-top: -10%;
    position: relative;
}

.http_icon {
    width: 50%;
    margin-left: 10%;
    margin-top: -22%;
    position: relative;
}

.go_icon {
    width: 40%;
    margin-left: 6%;
    margin-top: -11.5%;
    position: relative;
}







.flip-card {
  position: relative;
  float: left;
  width: calc(88%/3);
  margin-left: 2.5%;
  margin-top: 0em;
  background-color: red;
}

.imgg {
  position: relative;
  
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  border-radius: 1em;
  
}


/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
background-color: transparent;
padding: 0;
width: calc(90%/3);
height: 600px;
border: 1px solid #dedcdc;
perspective: 1000px; /* Remove this if you don't want the 3D effect */
margin-bottom: 1em;
border-radius: 1em;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
position: relative;
width: 100%;
height: 100%;
text-align: center;
transition: transform 0.5s;
transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
position: absolute;
width: 100%;
height: 100%;
-webkit-backface-visibility: hidden; /* Safari */
backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
background-color:aliceblue;
color: black;
border-radius: 1em;
}

/* Style the back side */
.flip-card-back {
background-color: dodgerblue;
color: white;
transform: rotateY(180deg);
border-radius: 1em;
} 


.flip-card-back button {
  min-width: 18em;
  min-height: 5em;
  border-radius: 3em;
  background-color: white;
  color: black;
  font-size: 15px;
  font-weight: 600;
  margin-top: 3em;
  transition: font-size 0.5s ease-in-out; 
  border: 0;
  
}

.flip-card-back a {
  
  color: black;
  
  
}




.flip-card-back button:hover {
  font-size: 17px;
}




.flip-card-front h1{
  background: -webkit-linear-gradient(rgb(9, 77, 193), rgb(12, 180, 4));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.booksLabeldiv {
  margin-top: 0em;
}

.booksLabel {
  text-align: center;
  font-weight: 800;
  font-size:40px;
  
  background: -webkit-linear-gradient(rgb(9, 77, 193), rgb(12, 180, 4));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: font-size 1s ease-in-out;

}
.booksLabel:hover {
  
  background: -webkit-linear-gradient(rgb(180, 4, 66), rgb(9, 77, 193));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 45px;
}


.books {
  background-color: aliceblue;
}


.book-popUp-photo{
  position: relative;
  height: 40em;
  float: left;
}


#jsDiv {
  display: none;
  background-color: rgba(255, 255, 255, 0.514);
  min-width: 80%;
  min-height: 80%;
  right: 10%;
  top: 3em;
}



#jsDiv:target {
  animation: 1s ease-out 0s 1 slideInDown;
  position: fixed;
  display: block;
  z-index: 1001;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-width: 4px;
  border-color: rgba(0, 0, 0, 0.383);
  border-style: ridge;
}



#jsDiv p{
  float: left;
  margin-left: 1em;
  max-width: 40em;

}



#goDiv {
  display: none;
  background-color: rgba(255, 255, 255, 0.514);
  min-width: 80%;
  min-height: 80%;
  right: 10%;
  top: 3em;
}



#goDiv:target {
  animation: 1s ease-out 0s 1 slideInDown;
  position: fixed;
  display: block;
  z-index: 1001;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-width: 4px;
  border-color: rgba(0, 0, 0, 0.383);
  border-style: ridge;
}


#goDiv p{
  float: left;
  margin-left: 1em;
  max-width: 40em;
}







#reactDiv {
  display: none;
  background-color: rgba(255, 255, 255, 0.514);
  min-width: 80%;
  min-height: 80%;
  right: 10%;
  top: 3em;
}

#reactDiv:target {
  animation: 1s ease-out 0s 1 slideInDown;
  position: fixed;
  display: block;
  z-index: 1001;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-width: 4px;
  border-color: rgba(0, 0, 0, 0.383);
  border-style: ridge;
}


#reactDiv p{
  float: left;
  margin-left: 1em;
  max-width: 40em;
}


#buy-now {
  margin-top: 5em;
  margin-right: 12em;
  margin-left: 2em;
  background-color: var(--primary-color);
  width: 10%;
  border-radius: 2em;
  color: white;
  height: 4em;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  border: 0;
  font-weight: 800;
}

#buy-now a{
  color: white;
}


#buy-now:hover {
  transform: rotateX(360deg);
  
}





.mobile-menu-exit {
  margin-left: 1.4em;
}




.footer {
  float: left;
  position: relative;
  width: 100%;
  height: 20%;
  text-align: center;
  margin-top: 4em;
}
.footer1 {

  position: relative;
  float: left;
  min-width: calc(100%/2);
  height: 100%;
  background-color: rgb(44, 44, 44);
  color: white;

}


.footer1 a{
  color: white;
  margin-top: -44em;
  margin-left: 1em;
  transition: font-size 0.5s ease-in;
}


.footer1 a:hover{
  font-size: 18px;
}


.footer1 p{
  margin-top: 4em;
}















